<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/png" />
    <title>@ViewData["Title"] - MDS DevOps</title>
    <link href="~/css/easyui/themes/bootstrap/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/css/easyui/themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="~/css/easyui/themes/color.css" rel="stylesheet" type="text/css" />
    <link href="~/css/main.css" rel="stylesheet" />

    <script src="~/js/lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/js/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/lib/easyui/jquery.easyui.min.js"></script>
    <script src="~/js/lib/easyui/extensions/datagrid-cellediting.js"></script>
    <script src="~/js/lib/momentjs/moment-with-locales.min.js"></script>
    <script src="~/js/lib/numeraljs/numeral.min.js"></script>
    <script src="~/js/lib/numeraljs/locales.min.js"></script>
    <script src="~/js/app/utils.js"></script>

    <script src="~/js/app/settings/panelSettings.js"></script>
    <script src="~/js/app/settings/panelEmployee.js"></script>
    <script src="~/js/app/main/panelMain.js"></script>

</head>
<body class="easyui-layout" fit="true">
    @RenderBody()

    <script type="text/javascript">
        $.utils.init();
    </script>
</body>
</html>
