.ico-edit {
    background: url('../img/icons/edit.png') no-repeat center center;
}

.ico-excel {
    background: url('../img/icons/excel.png') no-repeat center center;
}

.ico-refresh {
    background: url('../img/icons/refresh.png') no-repeat center center;
}

.ico-save {
    background: url('../img/icons/save.png') no-repeat center center;
}

.ico-task {
    background: url('../img/icons/task.png') no-repeat center center;
}

.ico-activity {
    background: url('../img/icons/activity.png') no-repeat center center;
}