body {
    font-family: Arial;
    font-size: 10px;
}

.separator {
    display: inline-block;
    width: 0;
    height: 22px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    vertical-align: middle;
}
