<div class="easyui-layout" fit="true">
    <div id="tbarEstimate" style="padding:5px;">
        <a id="btnRefresh" href="#" plain="true" class="easyui-linkbutton">Обновить</a>
        <span class="separator"></span>
        <a id="btnAdd" href="#" plain="true" class="easyui-linkbutton">Добавить</a>
        <a id="btnDelete" href="#" plain="true" class="easyui-linkbutton">Удалить</a>
        <span class="separator"></span>
        <a id="btnSave" href="#" plain="true" class="easyui-linkbutton">Сохранить</a>
        <span class="separator"></span>
        <a id="btnExcel" href="#" plain="true" class="easyui-linkbutton">Выгрузить в Excel</a>
    </div>
    <table id="dtgridEstimate" fit="true" border="false"></table>
</div>